.logo {
  display: flex;
}
.logo img {
  width: 90px;
  height: 90px;
}
body {
  font-family: "Raleway", sans-serif;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
nav li {
  margin-right: 50px;
}

.coeur-eau {
  width: 200px;
  display: flex;
  flex-direction: column;
}
