.logo {
  position: relative;
  padding-left: 30px;
}
.logo img {
  width: 100px;
  height: 90px;
}
body {
  font-family: "Raleway", sans-serif;
}
a:link {
  text-decoration: none;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
nav li {
  margin-right: 50px;
}
.cannebiere img {
  width: 200px;
  height: 100px;
  border-radius: 10px;
}
.cannebiere {
  margin: auto;
  margin-top: 80px;
  font-size: 0.8em;
  background-color: white;
  border: 5px white solid;
  border-radius: 10px;
}
.hotel-port {
  margin: auto;
  margin-top: 80px;
  font-size: 0.8em;
  background-color: white;
  border: 5px white solid;
  border-radius: 10px;
}
.hotel-port img {
  width: 200px;
  height: 100px;
  border-radius: 10px;
}
.mouettes img {
  width: 200px;
  height: 100px;
  border-radius: 10px;
}
.mouettes {
  margin: auto;
  margin-top: 80px;
  font-size: 0.8em;
  background-color: white;
  border: 5px white solid;
  border-radius: 10px;
}
.hotel-mer img {
  width: 200px;
  height: 100px;
  border-radius: 10px;
}
.hotel-mer {
  margin: auto;
  margin-bottom: 80px;
  font-size: 0.8em;
  background-color: white;
  border: 5px white solid;
  border-radius: 10px;
}
.panier img {
  width: 200px;
  height: 100px;
  border-radius: 10px;
}
.panier {
  margin: auto;
  margin-bottom: 80px;
  font-size: 0.8em;
  background-color: white;
  border: 5px white solid;
  border-radius: 10px;
}
.amina img {
  width: 200px;
  height: 100px;
  border-radius: 10px;
}
.amina {
  margin: auto;
  margin-bottom: 80px;
  font-size: 0.8em;
  background-color: white;
  border: 5px white solid;
  border-radius: 10px;
}
.afficher {
  position: absolute;
  bottom: -360px;
  margin: 10px;
  padding: 15px;
}
.conteneur1 h4 {
  margin: 30px;
  position: absolute;
}
.fas.fa-star {
  color: blue;
}
.far.fa-star {
  color: grey;
}
.conteneur1 {
  width: 800px;
  height: 620px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(128, 128, 128, 0.3);
}
.conteneur2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.3);
}
.titre-popu {
  padding-left: 40px;
}
.fa-chart-line {
  position: absolute;
  right: 60px;
}
.conteneurx {
  display: flex;
  justify-content: space-around;
}
.hotel-soleil img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.hotel-soleil {
  height: 150px;
  display: flex;
  font-size: 0.8em;
  background-color: white;
  border: 5px white solid;
  border-radius: 10px;
}
.hotel-soleil figcaption {
  padding-left: 20px;
}
.coeur-eau img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.coeur-eau {
  height: 150px;
  display: flex;
  font-size: 0.8em;
  background-color: white;
  border: 5px white solid;
  border-radius: 10px;
}
.coeur-eau figcaption {
  padding-left: 15px;
}
.bleu-blanc img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.bleu-blanc {
  display: flex;
  font-size: 0.8em;
  background-color: white;
  border: 5px white solid;
  border-radius: 10px;
}
.bleu-blanc figcaption {
  padding-left: 15px;
}
.conteneur3 {
  display: flex;
}
.vieux-port img {
  width: 250px;
  height: 300px;
}
.fort img {
  width: 200px;
  height: 180px;
}
.conteneur4 {
  display: flex;
  justify-content: space-around;
}
.conteneur4 ul {
  list-style-type: none;
}
